.react-tile-pane-tabTitle {
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  display: block;
  background-color: #EEEEEE;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: grab; /* W3C standards syntax, all modern browser */
  align-items:flex-end ;
  padding-left: 1rem;
}

.react-tile-pane-tabBar {
  display: flex;
  width: 100%;
  height: 100%;

}
.react-tile-pane-tab {
  width: 100%;
  height: 100%;
  font-size: 1rem;
}
.react-tile-pane-tabMoving {
  padding: 0.3em 1em;
  border-radius: 4px;
  background: #f5ffd3;
}

.react-tile-pane-tabTitle:active {
  cursor: grabbing;
}

.react-tile-pane-tabInner {
  height: 100%;
  display: flex;
  align-items: flex-end;
  color: #000000;
  background: #ffffff;
  flex-direction: 'column';


}
.react-tile-pane-tabInnerOff {
  height: 100%;
  border-left: 1px solid #d1d1d18f;
  border-bottom: 1px solid #b9b9b98f;
  border-right: 1px solid #8787878f;
  background: #e9e9e9;
  color: #000000;
  display: flex;
  align-items: center;
  box-shadow: inset 0 1px 5px 2px #cfcfcf9c;
}

.react-tile-pane-tabInner .react-tile-pane-off {
  opacity: 1;
}

.react-tile-pane-tabInnerOff .react-tile-pane-off {
  opacity: 1;
}
.react-tile-pane-off {
  transition: 233ms;
  flex-grow: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 14px;
  font-size: 1.2em;
  height: 14px;
  cursor: pointer;
}

.react-tile-pane-Bar {
  cursor: ew-resize;
  background: #b6b6b6;
  width: 4px;
  height: 4px;
}
.react-tile-pane-Bar:hover {
  background: #7dd0db;
  height: 6px;
  width: 6px;
}