.customtoolbar{
     position : fixed;
          top: 48px;
          left: 0;
          right: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding:2
        }